<div class="form">
  <h1>Login</h1>
  <%= form_tag login_path do %>
    <p>
      <%= label_tag :email %>
      <%= email_field_tag :email, "", :required => true %>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password, "", :required => true %>
    </p>
    <%= submit_tag "Login" %>
  <% end %>
</div>

<div class="facebook_button">
    <%= link_to "Sign In with Facebook", "/auth/facebook", id: "sign_in" %>
</div>
