<div class="general">
  <div class="form">
    <%= form_for(@user, :html => {:multipart => true}) do |f| %>

      <p>
        <%= f.label :name %>
        <%= f.text_field :user_name, :required => true %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.email_field :email, :requred => true %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password, :required => true %>
      </p>
      <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :required => true %>
      </p>
      <!-- <p>
        <%#= f.label :image %>
        <%#= f.cl_image_upload :images %>
      </p> -->
      <%= f.submit %>
    <% end %>
  </div>

  <div class="facebook_button">
    <%= link_to image_tag("http://files.join-something-new4.webnode.cz/200004120-b4b43b5afc/fb-logo.png"), "/auth/facebook", id: "sign_in" %>
  </div>

</div>
