<div class="">

  <p><%= @area.name %></p>
  <p><%= @area.address %></p>
  <p>
    <% @area.facilities.each do |facility| %>
      <span><%= facility.name %></span> |
    <% end %>
  </p>
  <p>
    <% @area.terrains.each do |terrain| %>
      <span><%= terrain.name %></span> |
    <% end %>
  </p>
  <p><%= @area.size %></p>
  <% if @area.open_at_all_times == true %>
    <p>Open at All Times</p>
  <% else %>
    <p><%= @area.open_times %></p>
  <% end %>
  <hr>

</div>

<div class="area_control">

  <%= link_to("Edit |", edit_area_path) %>
  <%= link_to(" Delete", area_path( @area.id ), :method => :delete, :data => {:confirm => "Are you sure to delete #{@area.name}?"}) %>

</div>


<div>
  <div>
    <%= imdb_style_rating_for @area, current_user%>
  </div>
  <br>
  <div>
    <% if current_user %>
      Over All: <%= rating_for @area, "over_all" %>
      <br>
      Facilities: <%= rating_for @area, "facility" %>
      <br>
      Safety: <%= rating_for @area, "safety" %>
    <% end %>
  </div>
</div>
